# Solutions to Lesson 2

## Lab 2 Solution

This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).

In [1]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', 'data', 'ozone.csv'))

In [2]:
os.path.join('..', 'data', 'ozone.csv')

'..\\data\\ozone.csv'

In [3]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

Print the column names of the dataset to the screen, one column name per line.

In [5]:
data.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

In [6]:
for column in data.columns:
    print column

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [7]:
tmp = data.iloc[:2] # or data.head(2)
tmp

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [8]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [9]:
len(data)

153

In [10]:
data.shape

(153, 6)

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [11]:
data.iloc[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [12]:
tmp = data.tail(2)
# or: tmp = data.iloc[-2:]
tmp.head()

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [13]:
data.iloc[46, :]

Ozone       21.0
Solar.R    191.0
Wind        14.9
Temp        77.0
Month        6.0
Day         16.0
Name: 46, dtype: float64

In [14]:
data.loc[46, 'Ozone']

21.0

In [15]:
data.at[46,'Ozone']

21.0

How many missing values are in the Ozone column of this data frame?

In [16]:
data['Ozone'].notnull().sum() # Because True = 1, False = 0!

116

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

In [18]:
len(data) - len(data['Ozone'].dropna())

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [19]:
%precision 8
data['Ozone'].mean()

42.12931034

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of "Solar.R" in this subset?

In [20]:
data.loc[(data.Ozone > 31) & (data.Temp > 90)].head()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30

In [21]:
data.loc[(data.Ozone > 31) & (data.Temp > 90), 'Solar.R'].mean()

212.80000000

What is the mean of "Temp" when "Month" is equal to 6?

In [22]:
data.loc[data.Month==6, 'Temp'].mean()

79.10000000

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [23]:
data.loc[data.Month==5, 'Ozone'].max()

115.00000000